.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #2A363B;
  }

  .link:hover {
    color: #87CEFA;
  }

.activeLink {
    color: #87CEFA;
  }