.form {
  border: 3px solid rgb(102, 217, 235);
  border-radius: 20px;
  padding: 20px;
  display: block;
  width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.formInput {
  display: block;
  margin-bottom: 15px;
}

.formInputLabel {
  color: black;
  font-weight: 500;
}

.formInputBtn {
  margin-top: 30px;
  display: block;

  margin-left: auto;
  margin-right: auto;
}

